html * {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

input[type=submit] {
    outline: none;
    border: none;
}


html,
body,
#root {
    height: 100%;
}

.chatroom {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #313338;
}

.chatroom-title {
    display: flex;
    color: white;
    justify-content: center;
}

.chatroom-chat-container {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    padding: 0 10px;
    padding-top: 50px;
    scrollbar-gutter: stable both-edges;
}

.chatroom-chat {
    margin-top: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.chatroom-message-container {
    display: flex;
}

.client-con {
    justify-content: flex-end;
}

.other-con {
    justify-content: flex-start;
}

.chatroom-message {
    width: fit-content;
    min-height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: .2rem .5rem;
    max-width: 45%;
    color: white;
    word-break: normal;
}

.client {
    background-color: rgb(62, 150, 221);
    text-align: end;
}

.other {
    background-color: rgb(66, 211, 97);
    text-align: start;
}

.chatroom-inputs-container {
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.chatroom-inputs {
    background-color: #383a40;
    color: white;
    outline: none;
    border: 0px;
    padding: 15px 10px;
    width: 80%;
    border-radius: 10px;
}

.chatroom-inputs::placeholder {
    color: rgba(255, 255, 255, 0.336);
}

.form-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e1f22;
}

.login-container {
    border-radius: 6px;
    background-color: #383a40;
    padding: 2rem;
    width: 480px;
}

.login-header-container {
    text-align: center;
}

.login-header,
.login-subheader {
    font-weight: 600;
}

.login-header {
    padding-bottom: .2rem;
}

.login-subheader {
    color: rgba(255, 255, 255, 0.281);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form-button-submit {
    width: 100%;
    color: white;
    background-color: #5865f2;
    padding: .5rem 0;
}

.login-form-input {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-top: 1.5rem;
}

.login-form-input input {
    padding: .7rem .6rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.349);
    outline: none;
    border: none;
    color: white;
    font-weight: 100;
    font-size: .9rem;
}

.login-form-input label {
    font-size: .8rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.774);
}

.login-form-button-submit {
    margin-top: 1.5rem;
}

.login-form-resigter-container {
    margin-top: .5rem;
    font-size: .8rem;
}

.login-form-resigter-text-span {
    padding-right: .2rem;
}

.login-form-resigter-text-a:link,
.login-form-resigter-text-a:visited,
.login-form-resigter-text-a:active {
    color: #00a8fc;
    text-decoration: none;
}

.login-form-resigter-text-a:hover {
    text-decoration: underline;
}